<p>cart-page works!</p>
<H1> Cart Page</H1>

<table class="styled-table">
    <tbody>
        <tr >
            <td></td>
            <td>name</td>
            <td>price</td>
            <td>category</td>
            <td>description</td>
            <td>
                <button mat-raised-button color="primary">Remove To Cart</button>
                
            </td>   
        </tr>   
    </tbody>
</table>
<div class="summary">
    <h3>Summary</h3>
    <ul>
        <li> <span>Amount:</span><span>300</span></li>
        <li> <span>Tax:</span><span>30</span></li>
        <li> <span>Delivery:</span><span>20</span></li>
        <li> <span>Discount:</span><span>50</span></li>
        <li> <span><h4>Total</h4></span> <span><h4>300</h4></span></li>
        <button  class="form-button max-width" >Checkout</button>
    </ul>
    </div>